@model IEnumerable<ASP_NET_MVC_Q5.Models.Select>
@using PagedList.Mvc;
@using PagedList;

<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/Table.css" rel="stylesheet" />
</head>
<body>
    <div>
        <table class="fancytable">
                <tr class="headerrow">
                    <td class="headerrow" align="center" valign="center">ID</td>
                    <td align="center" valign="center">Product Name</td>
                    <td align="center" valign="center">Locale</td>
                    <td align="center" valign="center">Create Date</td>
                    <td align="center" valign="center">Price</td>
                </tr>

                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td align="center" valign="center"> @Html.DisplayFor(modelItem => item.Id)</td>
                            <td align="center" valign="center"> @Html.DisplayFor(modelItem => item.Product_Name)</td>
                            <td align="center" valign="center"> @Html.DisplayFor(modelItem => item.Locale)</td>
                            <td align="center" valign="center"> @Html.DisplayFor(modelItem => item.Create_Date)</td>
                            <td align="center" valign="center"> @Html.DisplayFor(modelItem => item.Price)</td>
                        </tr>
                    }
                }
        </table>
        @Html.PagedListPager((IPagedList)Model, x => Url.Action("Result", new { page = x }))
    </div>
</body>
</html>